name: Full Test

on:
  push:
  pull_request:
    types: [assigned, opened, synchronize, reopened]


jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ['3.6', '3.7', '3.8', '3.9', '3.10']
        django-version: ['>3.1', '<3.2', '<3.3', '<4.1']

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
      - name: Install core
        run: pip install "Django${{ matrix.django-version }}" pydantic
      - name: Install tests
        run: pip install pytest pytest-asyncio pytest-django django django-ninja-extra factory-boy django-ninja-jwt
      - name: Test
        run: pytest
  codestyle:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: 3.9
      - name: Install Flit
        run: pip install flit
      - name: Install Dependencies
        run: flit install --symlink
      - name: Black
        run: black --check easy tests
      - name: isort
        run: isort --check easy tests
      - name: Flake8
        run: flake8 easy tests
      - name: mypy
        run: mypy easy
